<% layout('layouts/boilerplate') %>

<h1 class="d-flex justify-content-center m-3 p-3"  >All campgrounds</h1>
<ul>
  <div class="row">
    <% for(let campground of campgrounds) { %>
      <div class="col-md-4">
              <div class="content">
        <a href="/campgrounds/<%= campground._id %>">
          <div class="content-overlay"></div>
          <img class="content-image img-fluid" src="<%= campground.image%>" />
          <div class="content-details fadeIn-bottom">
            <h3 class="content-title"><%= campground.title%></h3>
            <p class="content-text">
              <i class="fa fa-map-marker"></i><%= campground.location%>

            </p>
          </div>
        </a>
      </div>
    </div>
    <% } %>
  </div>
</ul>
